.form {
    margin: 0 auto;
    padding: 10px;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 600px;

    border-radius: 1%;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 35px rgba(0,0,0,0.5);
    animation: form 0.15s ease-in;
}

.btn {
    margin: 0 auto;
}

@keyframes form {
    0% {
        opacity: 0;
    }
    100% {

        opacity: 1;
    }
}

